<p id="notice"><%= notice %></p>

<h1>Procucts</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @procucts.each do |procuct| %>
      <tr>
        <td><%= procuct.name %></td>
        <td>
          <%= link_to 'Show', procuct, :class => 'btn btn-default btn-xs' %>
          <%= link_to 'Edit', edit_procuct_path(procuct), :class => 'btn btn-default btn-xs' %>
          <%= link_to 'Destroy', procuct, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-default btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Procuct', new_procuct_path , :class => 'btn btn-primary' %>
