<p id="notice"><%= notice %></p>

<h1>Cell Phones</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Quant</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @cell_phones.each do |cell_phone| %>
      <tr>
        <td><%= cell_phone.name %></td>
        <td><%= cell_phone.quant %></td>
        <td>
          <%= link_to 'Show', cell_phone, :class => 'btn btn-default btn-xs' %>
          <%= link_to 'Edit', edit_cell_phone_path(cell_phone), :class => 'btn btn-default btn-xs' %>
          <%= link_to 'Destroy', cell_phone, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-default btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Cell Phone', new_cell_phone_path , :class => 'btn btn-primary' %>
